[Unit]
Description=Change wallpaper with time

[Service]
Type=oneshot
Environment="HOME=%h"
ExecStart=%h/Scripts/commands/my-change-wallpaper

[Install]
WantedBy=default.target
